<header class="site-header" role="banner">
    <div class="container header-inner">
        <a href="index.html" class="brand" href="#/" aria-label="Go to home">
            <img src="/assets/images/logo.png" alt="1807 logo" class="logo">
            <span class="dot-o">Vebbabi</span>
        </a>


        <nav class="nav" aria-label="Primary">
            <button class="nav-toggle" aria-expanded="false" aria-controls="nav-menu" title="Menu">
                <span class="nav-toggle-bar" aria-hidden="true"></span>
                <span class="sr-only">Toggle navigation</span>
            </button>
            <ul id="nav-menu" class="nav-list" data-collapsible>
                <li><a href="/">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/robotics.html">Embedded-Systems</a></li>
                <li><a href="/chains.html">Blockchain</a> </li>
                <li><a href="/construction.html">Handy-Man</a></li>
                <li><a href="/resumes.html">Resumes</a></li>
                <li><a href="/roadmap.html">Roadmap</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>